.trello-list-container {
    width: 200px;
    height: 65vh;
    padding: 5%;
    background-color: #fdebd0;
    opacity: .8;
    border-radius: 15px;
    padding-top: 2%;
    margin: 15px;
}

.trello-list-table{
    width: 100%;
    table-layout: fixed;
}

.trello-list-board-name {
    font-size: 1.9em;
    margin-left: 10px;
    vertical-align: bottom;
}

.trello-list-buttons {
    font-size: .9em;
    vertical-align: bottom;
    background-color: #fdebd0;
    margin-left: 10px;
    color: black;
}

/* .trello-list-name-td {
    width: 100% !important;
    word-wrap: break-word;
}

.trello-list-settings-td {
    /* width: 30%;
    vertical-align: top; */
    /* color: #000 !important;
    float: right;
} 

    .trello-list-settings-td a.nav-link{
        color: #000 !important;
    } */

.trello-list-header {
    width: 100%;
}

.trello-list-settings {
    float: right;
    padding-right: 10px;
    padding-top: 5px;

}

.trello-list-name {
    word-wrap: break-word;
}



.trello-list-cards {
    height: 80%;
    overflow-y:auto;
}

.trello-card-container {
    width: 100%;
    min-height: 100px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 15px;
}

.trello-card-settings {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.trello-card-name {
    padding-top: 40px;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}

.edit-icon:hover {
    color: #1c5962;
}

.trash-icon:hover {
    color: #6a0c1a;
}

.trello-card-settings .trash-icon {
    height: 12px;
}

.trello-lists-scroll-menu {
    width: 80%;
    margin: auto;
    border: #000 solid 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}